
.heroes-section {
    background-image: url('https://overwatch-a.akamaihd.net/img/scene/candy-895e91cbc198218dbe56fed67b590a7c37a8bc3ef29d4b8c2989edf2196cfdb4b6150e64cb6f57a01a26268ae764b4cc22da52168121287e68aa8a9891efd616.jpg');

}

body.home .heroes-section {
    text-align: center;
    background-position: top;
    background-size: cover;
}

body {
    color: #405275;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #f0edf2;
    max-width: 100%;
    overflow-x: hidden;
    font: normal normal normal 10px Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

*, :after, :before {
    box-sizing: inherit;
    background-repeat: no-repeat;
    vertical-align: inherit;
    white-space: inherit;
    text-overflow: inherit;
    text-shadow: inherit;
}

.h3, .progress-2>.bar-container>.bar-text>.title, h3 {
    line-height: normal;
    letter-spacing: 0.1px;
    font-family: "Big Noodle Too", impact, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
    white-space: normal;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

[class*=flex-container].m-center-items {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*TOP SPOTLIGHT SECTION*/
.spotlight {
    position: relative;
}

.spotlight-image {
    position: relative;
    /*left: -270px;*/
    display: inline-block;
    min-width: 746px;
    min-height: 440px;
    margin: 0 auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    z-index: 0;
}

.spotlight-banner {
    width: 100%;
    min-height: 200px;
    position: absolute;
    padding: 10px 0 15px;
    top: calc(50% - 100px);
    text-align: right;
    background-image: -webkit-linear-gradient(left, rgba(42, 55, 81, 0), rgba(42, 55, 81, .8) 25%, rgba(42, 55, 81, .8) 75%, rgba(42, 55, 81, 0));
    background-image: linear-gradient(90deg, rgba(42, 55, 81, 0) 0, rgba(42, 55, 81, .8) 25%, rgba(42, 55, 81, .8) 75%, rgba(42, 55, 81, 0));
    background-position: 50%;
    background-size: 1920px auto;
    z-index: 0;
}

.u-max-width-container {
    width: calc(100% + 10px);
    max-width: 1250px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content-box {
    padding-top: 72px;
    padding-bottom: 72px;
}
.content-box {
    padding-top: 44px;
    padding-bottom: 44px;
}

.column.row.row, .row.row.columns {
    float: none;
}

.row {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}

.column, .columns {
    width: 100%;
    float: left;
    padding-left: 0;
    padding-right: 0;
}

.u-max-width-container {
    padding-left: 30px;
    padding-right: 30px;
}

.u-max-width-container {
    width: 100%;
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.intro-heading-gradient-blue {
    background: -webkit-linear-gradient(top,#3f6493 10%,#345177);
    background-image: -o-linear-gradient(transparent,transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 4px 5px rgba(60,72,96,.5);
}

.intro-heading {
    margin-bottom: 44px;
    text-transform: uppercase;
    font-style: italic;
}

.intro-text {
    line-height: 1.47;
    margin-bottom: 3.6rem;
}

.data-table > thead th, .h5, .intro-text, h5 {
    font-size: 2.8rem;
}

.u-center-block {
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
}

.u-limit-width {
    max-width: 40em;
}

.spotlight {
    position: relative;
}

.m-center-items[class*="flex-container"] {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.u-max-width-container {
    padding-left: 30px;
    padding-right: 30px;
}

.u-max-width-container {
    width: 100%;
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-item {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}

.spotlight-caption, .spotlight-header {
    color: #f0edf2;
    padding-left: 64%;
    text-align: center;
}

.u-invert {
    color: #f0edf2;
}

.u-text-shadow {
    text-shadow: 0 1px 2px #000;
}

.spotlight-caption {
    min-height: 48px;
}

.spotlight-caption, .spotlight-header {
    color: #f0edf2;
    padding-left: 64%;
    text-align: center;
}

.u-max-width-container {
    padding-left: 30px;
    padding-right: 30px;
}

.u-max-width-container {
    width: 100%;
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body.home .hero-portrait-group {
    padding: 0;
}

body.home .hero-portrait-group {
    padding: 0 1.2rem;
}

.u-inline-block {
    display: inline-block;
}

.u-relative {
    position: relative;
}

.hero-portrait {
    display: inline-block;
    text-align: center;
}


.hero-portrait-image-mask{
    display:block;
    position:relative;
    width:70px;
    height:84px;
    margin:2.4px 6px;
    border:3px solid #f0edf2;
    border-left-width:0;
    border-right-width:0;
    background-color:rgba(51,51,51,.9);
    background-clip:padding-box;
    overflow:hidden;
    border-radius:7px;
    -webkit-transform:skew(25rad);
    -ms-transform:skew(25rad);
    transform:skew(25rad)
}
.hero-portrait.is-active>.hero-portrait-image-mask,.hero-portrait:active>.hero-portrait-image-mask,.hero-portrait:focus>.hero-portrait-image-mask,.hero-portrait:hover>.hero-portrait-image-mask{
     width: 84px;
     height: 100.8px;
     margin:-6px -4px;
    border-left-width:3px;
    border-right-width:3px;
    background-color:#f7931e
}


.hero-portrait-image {
    display: inline-block;
    width: calc(100% + 10px);
    height: 100%;
    background-size: auto 100%;
    background-position: 50% 50%;
    position: relative;
    -webkit-transform: skew(-25rad) translateX(-5px);
    -ms-transform: skew(-25rad) translateX(-5px);
    transform: skew(-25rad) translateX(-5px);
}

#selectHeroes {
    background: url('https://overwatch-a.akamaihd.net/img/bg-tmp-hero-mobile-0e22f0d6d0433ad18a7158c029b33abefe6bf0046188e2660dc4c28f7eaeae276793e28dd4146c7dd1fc1956e1da9ba2fda23d73e4030713f33967dc004b813a.jpg');
    background-size: cover;
    background-position: bottom;
}
.u-full-width-container {
    display: block;
    width: 100%;
    max-width: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*, :after, :before {
    box-sizing: inherit;
    background-repeat: no-repeat;
    vertical-align: inherit;
    white-space: inherit;
    text-overflow: inherit;
    text-shadow: inherit;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

/*MENU*/
.hero-select-navigation .hero-type-container {
    display: inline-table;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.row:after, .row:before {
    content: " ";
    display: table;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.hero-select-navigation .hero-type-container {
    margin-right: 18px;
    margin-left: 18px;
}

.hero-select-navigation .hero-select-title {
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    font-size: 3rem;
    position: relative;
    text-align: center;
    width: 100%;
    display: table;
}

.hero-select-navigation {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}


.hero-select-navigation .hero-item {
    display: inline-block;
    margin-bottom: 16px;
}

.hero-select-navigation .hero-select-title .heading-line {
    display: table-cell;
    width: 50%;
    position: relative;
}

.hero-select-navigation .hero-select-title>.text {
    word-break: keep-all;
    color: #fff;
    opacity: .6;
    font-size: 25px;
    padding-right: 6px;
    display: table-cell;
}

.text {
    font-style: italic;
    font-family:Noto Sans;
}


.hero-select-navigation .hero-select-title .heading-line:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: .2;
    background: #fff;
}

.u-max-width-container {
    width: 100%;
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section-divider.m-wings:after,.section-divider.m-wings:before {
    height:3rem;
    background-image:url('https://overwatch-a.akamaihd.net/img/dividers/wing-69271c3c90421d431edebbba7d0f0ce9f75861ea2f2a7855af93dff7b79235c18a0c42674d2b11239e41ed9d290066dd96a4a8e0d53b8472c464fc0590140f7b.png')
}
.nav-title {
    font-size: 2.8rem;
    color: #fff;
}

.section-divider.m-wings:after{
    -webkit-transform:scaleY(-1);
    -ms-transform:scaleY(-1);
    transform:scaleY(-1)
}
.section-divider.m-wings-lg:after,.section-divider.m-wings-lg:before {
    height:3rem;
    background-image:url('https://overwatch-a.akamaihd.net/img/dividers/wing-69271c3c90421d431edebbba7d0f0ce9f75861ea2f2a7855af93dff7b79235c18a0c42674d2b11239e41ed9d290066dd96a4a8e0d53b8472c464fc0590140f7b.png')
                                                                                                                                                                                                                                                                                                                                                                  }.section-divider.m-wings-lg:after{-webkit-transform:scaleY(-1);-ms-transform:scaleY(-1);transform:scaleY(-1)}
.section-divider.m-line:after,.section-divider.m-line:before {
    height:.35rem;
    border:.35rem solid hsla(0,0%,45%,.7)
}
.section-divider.m-inset:before {
    top:0;
    bottom:auto;
    -webkit-transform:scaleY(-1);
    transform:scaleY(-1)
 }

.section-divider.m-inset:after {
    bottom:0;
    top:auto;
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
}

.hero-portrait-label {
    position:relative;
    display:inline-block;
    top:-4.2px;
    margin-left:-10px;
    padding:1px 10px;
    font-size: 1.0rem;
    color:#333;
    white-space:nowrap
}

.hero-portrait-label.m-color-inverted {
    color:#f0edf2
}
.hero-portrait.is-active>.hero-portrait-label,.hero-portrait:active>.hero-portrait-label,.hero-portrait:focus>.hero-portrait-label,.hero-portrait:hover>.hero-portrait-label {
    top:-8.4px;
    border-radius:.3rem;
    background-color:#f0edf2;
    color:#333
}
body.ko-kr .portrait-title {
    font-family:Koverwatch,sans-serif
}

